.intro-section {
    width: 100%;
    min-height: 750px;
    background-image: url(../assets/images/Background_Intro.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.intro-section__container {
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

.intro-section__content {
    padding-top: 7.5rem;
    flex-direction: column;
}

.profile-images {
    position: relative;
    margin-bottom: 3.5rem;
}

.profile-image--avatar {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    border: 2px solid var(--color-red);
    padding: 0.25rem;
}

.profile-image--code {
    position: absolute;
    bottom: 10px;
    right: -4px;
    width: 31px;
    height: 25px;
}

.intro-section__greeting-text {
    font: var(--inconsolata-subtitle);
    color: var(--gray-200);
    margin-bottom: 0.5rem;
}

.intro-section__name-highlight {
    color: var(--color-red);
}

.intro-section__job-title {
    font: var(--asap-title-lg);
    color: var(--gray-100);
    margin-bottom: 1.25rem;
}

.intro-section__bio {
    font: var(--maven-pro-text-sm);
    color: var(--gray-300);
    text-align: center;
    margin-bottom: 5rem;
}

.tech-stack {
    gap: 1rem;
    margin-bottom: 5.875rem;
    flex-wrap: wrap;
}

.tech-stack__item {
    background-color: var(--gray-400);
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 999px;
}

.tech-stack__icon {
    width: 24px;
    height: 24px;
}

.tech-stack__label {
    color: var(--gray-200);
    font: var(--maven-pro-text-md);
}

.scroll-indicator {
    justify-self: center;
}

@media screen and (max-width: 640px) {

    .intro-section {
        min-height: auto;
    }

    .intro-section__content {
        padding-top: 2.5rem;
        flex-direction: column;
    }

    .profile-images {
        margin-bottom: 1.5rem;
    }

    .tech-stack {
        margin-bottom: 2.5rem;
    }


    .intro-section__bio {
        margin-bottom: 2rem;
    }

    .tech-stack {
        justify-content: center;
    }
}